body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center;  */
    background-image: linear-gradient(to right,#10EF10,#411FEB,#25CAF9);
}
.ins{
    font-family:monospace;
    font-size: 20px; 
    width: 90%;
    max-width: 400px;
    padding: 25px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    border: 2px solid rgba(255, 255, 255, 0.4);
    text-align: center;
    margin:40px;
    display: inline-block;

}
.ins{
    display: inline-block;
}
#hins{
    padding-left: 500px;
}

h3 {
    position: absolute; 
    top: 10px;
    right: 12px;
    font-size: 18px;
    font-weight: bold;
    margin:0;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 5px;
}
#img{
    position: absolute;
    margin-top: 120px;
    right: 310px;
}