body {
    margin: 0;
     min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-image: linear-gradient(to right,#3510ef,#eb8f1f,#25cbf9); 
   


h3 {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 5px;
}
.title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



.a {
    width: 90%;
    max-width: 400px;
    padding: 25px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    border: 2px solid rgba(255, 255, 255, 0.4);
    text-align: center;
}

#btn {
    background: #05d6e1;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#btn:hover {
    background: #05d6e1;
    transform: scale(1.05);
}
#input{
    background-color: black;
    color: whitesmoke;
}
footer{
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#para,#sc{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#input, #btn {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 8px;
}
#muteBtn{
    position: absolute; 
    top: 10px;
    right: 120px;
    font-size: 14px;       
    font-weight: bold;
    margin: 0;
    padding: 3px 6px;     
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 4px;    
    cursor: pointer;
}
#think1{
    position: absolute;
    left: 0px;
    
}
#think2{
     position: absolute;
    right:50px;
   
}